
p{
    color: black;
    font-size: 20px;
}




body{
    text-align: center;
}



button{
    margin: 50px;
    color: #00bfff;
    
}


.dashboard{
    text-align: center;
    font-size: larger;
    color: white;
  
}


