
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b182c;
  padding: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

h1{
  color: rgb(255, 255, 255);
  padding-top: 150px;

}

li{
  color: black;
  font-size: 20px;
}







.navbar a{
  color: #00bfff;
  text-decoration: solid;
  font-size: 20px ;
  margin: 5px 5px;
  text-align: center;
}




.navbar a:hover {
  text-decoration: underline;
}

.logo{
  width: 100px;
  height: 100px;

}

.logo-div{
  float: left;
}




